* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: hsl(212, 45%, 89%);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 568px;
}

.container {
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
  width: 250px;
}

img {
  aspect-ratio: 1/1;
  width: 100%;
  border-radius: 1rem;
}

.bigFont p {
  font-family: "Outfit";
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  padding: 1rem 1rem 0 1rem;
}

.smallFont p {
  padding: 1rem;
  font-weight: 400;
  font-size: 11px;
}
